.content-container{
    padding: 4rem 0 4rem 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    color: white;
    flex: 1;

    align-items: center;
}
.content-details-container{
    margin-bottom: 5rem;
}
.card-container{
    position: absolute;
    transition:left calc(var(--time)/ .9) ease-in,
    opacity var(--time) cubic-bezier(1, -0.03, 0.58, 1);
}
#tile-container{
    position: relative;
    margin-bottom: calc(var(--height) + 5rem)
}
#country-changer{
    background-color: rgba(16, 16, 207, 0.644);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
#country-name{
    font-size: 2.5  rem;
}
#location-name{
    display: inline-block;
    font-size: 5rem;
    font-weight: bolder;
    transition: transform 6s linear;
    white-space:nowrap;
    max-width: 49vw;
    overflow: hidden;

}
#location-description{
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.402);
    padding: 2px;
    height: 6.4rem;
    overflow: hidden;
}

.card{
    height: var(--height); 
    width: var(--width);

    border-radius: 10px;

    top: calc(var(--top_value) + .2rem);

    margin-inline: var(--card-margin);

    position: absolute;
    /*transition: opacity var(--time) ease-in,
    left var(--time) ease-in,
    top var(--time) ease-in,
    height var(--time) ease-in;*/
    transition: opacity var(--time) cubic-bezier(1, -0.03, 0.58, 1),
    left calc(var(--time)/ .9) ease-in, 
    top calc(var(--time)/ .9) ease-in, 
    height calc(var(--time) / .9) ease-in;
    
    /* background: url('./images/red_fort_tile.jpg'); */
    background-size: cover;
    background-position: center;

}
.card-title-container{
    position: relative;
}
.card-title{
    position: absolute;
    top: -1.5rem;
    display: inline;
    padding: 1px 4px;
    background-color: rgba(0, 0, 0, 0.365);
    font-weight: bold;
    font-size: .8rem;
    border-radius: 5px;
}
.active-card{
    height: var(--active_height);
    top: 0;
}
.fade-out-container{
    opacity: 0;

}
.fade-out-card{
    height: var(--height);
    top: var(--top_value)
}
#location-changer{
    --radius: 59px;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    width: var(--radius);
    height: var(--radius);
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.269);
}

.country-selection{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.24);

    display:none;
    justify-content: center;
    align-items: center;
}
.selector-container{
    z-index: 999;
    width: 80vw;
    height: 80vh;
    background-color: rgba(209, 209, 209, 0.792);
    border-radius: 10px;
    padding: 30px;

    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */

    overflow: scroll;
}
.selector-container::-webkit-scrollbar {
    display: none;
  }
.flag-container{
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 170px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    position: relative;
    border: none;

}
.country-name-container{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    text-align: center;
}
.country-name{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}